.DS_Store
PCB/POP_Altium/__Previews
PCB/POP_Altium/History
PCB/POP_Altium/Project Logs for POP
PCB/POP_Altium/Project Outputs for POP
Firmware/pop.X/build
Firmware/pop.X/debug
Firmware/pop.X/dist
*.un~


